:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --bg-color: #0d1117;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

/* Grain Styling */

.grain {
  position: fixed;
  z-index: 1;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  pointer-events: none; 
}

.grain-overflow {
  position: relative;
  width: 300%;
  height: 300%;
  mix-blend-mode: exclusion;
  background-image: url('../images/bg-texture.png');
  -webkit-animation: grain 0.75s steps(1) infinite;
          animation: grain 0.75s steps(1) infinite;
}

@-webkit-keyframes grain {
  0%   {background-position: 0px 0px;}
  33%  {background-position: -500px 500px;}
  66%  {background-position: 500px -500px;}
  100% {background-position: 1000px 1000px;}
}

@keyframes grain {
  0%   {background-position: 0px 0px;}
  33%  {background-position: -500px 500px;}
  66%  {background-position: 500px -500px;}
  100% {background-position: 1000px 1000px;}
}

/* Test Styling */

/* .test.animate {
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */

/* General Styling */

.App {
  overflow: hidden;
  height: 5000px;
}

.to-animate {
  opacity: 0;
}

.animate {
  opacity: 1;
}

.section-wrapper {
  min-height: 100vh;
  min-height: 100svh;
}

.section {
  max-width: 1440px;
}

/* Portfolio Styling */

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project {
  position: relative;
  max-width: 400px;
  padding: 15px;
  border-radius: 24px;
  overflow: hidden;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.project:hover {
  background-color: rgba(var(--project-bg-color), 0.4);
  transform: scale(102%);
}

.project>a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project-image {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 10px 10px 0 0;
}

.project-title {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  background-color: rgba(var(--project-bg-color), 0.8);
  color: rgb(var(--project-text-color));
  padding: 8px;
  border-radius: 0 0 10px 10px;
}

.project-description {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(var(--project-text-color), 0.8);
  padding: 8px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  background-color: rgba(var(--project-bg-color), 0.8);
  padding: 4px;
  border-radius: 12px;
}

.project-tags > a {
  text-decoration: none;
  transition: transform 250ms ease-in-out;
}

.project-tags > a:hover {
  transform: scale(104%);
}

.project-tag {
  position: relative;
  margin: 4px;
  padding: 3px 6px;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: var(--tag-color);
  color: #F5F5F5;
  border-radius: 6px;
}